/* Default Styles */
body {
    background-color: #fff;
    color: #000;
}

body[data-theme='dark'] {
    background-color: #333;
    color: #fff;
}

/* Circle Button Styles */
.circle-button {
    position: fixed;
    top: 10px;  /* Adjust position from the top */
    right: 10px; /* Adjust position from the right */
    width: 24px;  /* Size of the button */
    height: 24px; /* Size of the button */
    border-radius: 50%;
    border: 2px solid #000; /* Border color */
    background-color: #fff; /* Default background color */
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
    z-index: 1000; /* Ensure button is on top */
}

body[data-theme='dark'] .circle-button {
    background-color: #000; /* Dark mode background color */
    border-color: #fff; /* Dark mode border color */
}

.circle-button::before {
    content: '';
    display: block;
    width: 12px; /* Size of the inner circle */
    height: 12px; /* Size of the inner circle */
    border-radius: 50%;
    background-color: #000; /* Default inner circle color */
    transition: background-color 0.3s;
}

body[data-theme='dark'] .circle-button::before {
    background-color: #fff; /* Dark mode inner circle color */
}
