<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/lunr.js"></script>
    <script src="/js/search.js" defer></script>


</head>
<body>

      <header>
        <h1>Welcome to My Blog</h1>
        <input type="text" id="search-input" placeholder="Search...">
    </header>
    
       <article>
        <h2>{{ page.title }}</h2>
        <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
        <div>
            {{ content }}
        </div>
    </article>

</body>
</html>
