<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
</head>
<body>
    <div class="theme-toggle">
        <span>&#9728;</span> <!-- Sun icon -->
        <span>&#9790;</span> <!-- Moon icon -->
    </div>

    <article>
        <h2>{{ page.title }}</h2>
        <p><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
        <div>
            {{ content }}
        </div>
    </article>
<script src="{{ '/assets/darkmode.js' | relative_url }}"></script>
  
</body>
</html>
